S3Connect/UEtoS3Sync/Saved/
S3Connect/UEtoS3Sync/Intermediate/
QuestClient/Build/
QuestClient/Intermediate/CachedAssetRegistry.bin
QuestClient/Intermediate/
QuestClient/Saved/
QuestClient/Binaries/Android/QuestClient.target
QuestClient/Binaries/
